<div class="titulo">
  <h3>REGISTRARSE</h3>
</div>

<div class="container">
  <div class="user-form">
    <form #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && register(registerForm)">

      <p>
        <label for="name">Nombre</label>
        <input type="text" placeholder="Ingrese su nombre" name="name" id="name" required [(ngModel)]="user.name" #name="ngModel" autocomplete="off">
        <span class="alert-danger" *ngIf="(name.touched || registerForm.submitted) && name.errors?.['required']">Nombre obligatorio</span>
      </p>

      <p>
        <label for="lastName">Apellido</label>
        <input type="text" placeholder="Ingrese su apellido" name="lastName" id="lastName" required [(ngModel)]="user.lastName" #lastName="ngModel" autocomplete="off">
        <span class="alert-danger" *ngIf="(lastName.touched || registerForm.submitted) && name.errors?.['required']">Apellido obligatorio</span>
      </p>

      <p>
        <label for="password">Contraseña</label>
        <input type="password" placeholder="Ingrese su contraseña" name="password" id="password" required [(ngModel)]="user.password" [required]="true" [minlength]="8" #password="ngModel" autocomplete="off">
        <span *ngIf="password.touched && password.errors">La contraseña requiere al menos 8 carácteres</span>
        <span [ngClass]="{ success: !error, fail: error }"></span>
      </p>

      <p>
        <label for="email">Email</label>
        <input type="email" placeholder="Ingrese su email" name="email" id="email" required [(ngModel)]="user.email" #email="ngModel"  autocomplete="off">
        <span class="alert-danger" *ngIf="(email.touched || registerForm.submitted) && email.errors?.['required']">Email obligatorio</span>
      </p>

      <p>
        <label for="userName">UserName</label>
        <input type="text" placeholder="Ingrese su nombre de usuario" name="username" id="userName" required [(ngModel)]="user.userName" #userName="ngModel" autocomplete="off">
        <span class="alert-danger" *ngIf="(userName.touched || registerForm.submitted) && userName.errors?.['required']">Username obligatorio</span></p>

      <button type="submit" class="btnRegistrarme">Registrarme</button>
      <button [routerLink]="['/login']" class="btnVolver">¿Ya tiene cuenta? Inicie Sesión</button>
    </form>
  </div>
</div>

